<%= select_f f, :flavor_id, compute_resource.flavors, :id, :to_label, {}, :label => _('Flavor'), :label_size => "col-md-2" %>
<%
   arch ||= nil ; os ||= nil
   images = possible_images(compute_resource, arch, os)
%>

<div id='image_selection'><%= select_f f, :image_id, images, :uuid, :name,{:include_blank => (images.empty? || images.size == 1) ? false : _('Please select an image')}, {:disabled => images.empty?, :label => _('Image'), :label_size => "col-md-2"} %></div>

<%= selectable_f f, :availability_zone, {_("ccr-cbls-2a")=>'ccr-cbls-2a'}, {}, { :label => _("Availability zone") } %>

<div id='subnet_selection'>
<% if compute_resource.subnets.any? %>
  <%= select_f f, :subnet_id, compute_resource.subnets, :subnet_id, :cidr_block,
                {:include_blank => _("EC2")},
                {:label => _("Subnet"), :label_size => "col-md-2", :onchange => "ec2_vpcSelected(this);"} %>
<% end %>

<%= selectable_f f, :groups, security_groups_names( compute_resource.security_groups), {}, { :multiple => true, :label => _("Security groups") } %>

<%= selectable_f f, :addressing_type, {_("Public")=>'public', _("Private")=>'private'}, {}, { :label => _("Eucalyptus Addressing Type") } %>

<%= selectable_f f, :managed_ip, {_("Public")=>'public', _("Private")=>'private'}, {}, { :label => _("Managed IP"), :label_size => "col-md-2" } %>
</div>
